.form{
    display: flex;
    background-color:  #ff7b00;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    
}
.container{
    display: flex;
    margin: 0 auto;
    width: 100%;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 750px) {
    .form{
        width: 91%;
    }
    
}