.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
.step__content {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
}
.step__text {
  height: 200px;
  width: 400px;
  resize: none;
}
.step__foto__button {
  position: relative;
  width: 20%;
}
.step__foto__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.delete__button{
    font-size: 20px;
    cursor: pointer;
}